/include/ "system-conf.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/media/xilinx-vip.h>
#include <dt-bindings/phy/phy.h>
/ {
	chosen {
	    //bootargs = "earlycon console=ttyPS0,115200 clk_ignore_unused root=/dev/nfs nfsroot=192.168.1.1:/home/rk/zynq/7020/fmc_ad9361_7020/nfs,nfsvers=3 ip=192.168.1.100:192.168.1.1:192.168.1.1:255.255.255.0::eth0:off rw";
		//bootargs = "earlycon console=ttyPS0,115200 root=/dev/mmcblk1p2 ip=192.168.1.100:192.168.1.1:192.168.1.1:255.255.255.0::eth0:off rw";
	};

	usb_phy0: usb_phy@0 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};

    leds {
        compatible = "gpio-leds";
        
        led0 { //ps_led1
            label = "ps_led1";
            gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
            linux,default-trigger = "heartbeat";
        };
    };
};
&flash0 {
	compatible = "w25q256", "spi-flash";
	#address-cells = <1>;
	#size-cells = <1>;
	reg = <0x0>;
	spi-tx-bus-width = <4>;
	spi-rx-bus-width = <4>;

};
&usb0 {	
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};
&i2c0 {
	clock-frequency = <100000>;
	
	cape_eeprom1: cape_eeprom1@50 {
		compatible = "atmel,24c256";
		reg = <0x50>;
		#address-cells = <1>;
		#size-cells = <1>;
		cape1_data: cape_data@0 {
			reg = <0 0x100>;
		};
	};

	rtc@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
	};
};
&i2c1 {
	clock-frequency = <100000>;
};
&amba_pl {
	rx_dma: dma@43c10000 {
		compatible = "adi,axi-dmac-1.00.a";
		#dma-cells = <1>;
		#clock-cells = <0>;

		clock-names = "s_axi_aclk", "m_dest_axi_aclk", "m_sg_axi_aclk", "fifo_wr_clk";
		clocks = <&clkc 15>, <&clkc 15>, <&clkc 15>, <&misc_clk_0>;
		interrupt-names = "irq";
		interrupt-parent = <&intc>;
		interrupts = <0 29 4>;
		reg = <0x43c10000 0x10000>;

		adi,channels {
			#size-cells = <0>;
			#address-cells = <1>;

			dma-channel@0 {
				reg = <0>;
				adi,source-bus-width = <64>;
				adi,source-bus-type = <2>;
				adi,destination-bus-width = <64>;
				adi,destination-bus-type = <0>;
			};
		};
	};

	tx_dma: dma@43c20000 {
		compatible = "adi,axi-dmac-1.00.a";
		#dma-cells = <1>;
		#clock-cells = <0>;
		
		clock-names = "s_axi_aclk", "m_src_axi_aclk", "m_sg_axi_aclk", "m_axis_aclk";
		clocks = <&clkc 15>, <&clkc 15>, <&clkc 15>, <&misc_clk_0>;
		interrupt-names = "irq";
		interrupt-parent = <&intc>;
		interrupts = <0 30 4>;
		reg = <0x43c20000 0x10000>;

		adi,channels {
			#size-cells = <0>;
			#address-cells = <1>;

			dma-channel@0 {
				reg = <0>;
				adi,source-bus-width = <64>;
				adi,source-bus-type = <0>;
				adi,destination-bus-width = <64>;
				adi,destination-bus-type = <2>;
			};
		};
	};

	cf_ad9361_adc_core_0: cf-ad9361-lpc@43c00000 {
		compatible = "adi,axi-ad9361-6.00.a";
		reg = <0x43c00000 0x6000>;
		dmas = <&rx_dma 0>;
		dma-names = "rx";

		spibus-connected = <&adc0_ad9361>;
	};

	cf_ad9361_dac_core_0: cf-ad9361-dds-core-lpc@43c04000 {
		compatible = "adi,axi-ad9361-dds-6.00.a";
		reg = <0x43c04000 0x1000>;
		clocks = <&adc0_ad9361 13>;
		clock-names = "sampl_clk";
		dmas = <&tx_dma 0>;
		dma-names = "tx";
	};
};

&spi0 {
	status = "okay";
};

#define fmc_spi spi0
#define fmc_i2c i2c1

#include "adi-fmcomms2.dtsi"

&adc0_ad9361 {
	en_agc-gpios = <&gpio0 98 0>;
	sync-gpios = <&gpio0 99 0>;
	reset-gpios = <&gpio0 100 0>;
	enable-gpios = <&gpio0 101 0>;
	txnrx-gpios = <&gpio0 102 0>;
};